.product-card {
    background-color: #cdcdcd;
    padding: 10px;
    margin: 10px;
    width: 200px;
    display: inline-block;
    text-align: center;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 8px;
    margin: 8px;
    border-radius: 5px;
}

.product-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}